<div class="grid grid-cols-2 gap-4">
  <div class="relative">
    <iframe
      src="https://www.youtube.com/embed/b4IF6wfLi8M"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="w-full aspect-[9/16]"
    ></iframe>
  </div>
  <div class="relative">
    <iframe
      src="https://www.youtube.com/embed/pNvC9a3ABo0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="w-full aspect-[9/16]"
    ></iframe>
  </div>
  <div class="relative">
    <iframe
      src="https://www.youtube.com/embed/FHBo5RgFnSk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="w-full aspect-[9/16]"
    ></iframe>
  </div>
  <div class="relative">
    <iframe
      src="https://www.youtube.com/embed/wci_Yscw0B4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="w-full aspect-[9/16]"
    ></iframe>
  </div>
</div> 